*{
    font-family: 'Lexend', sans-serif;
}
.compliance-section{
    color: white;
    background-image: url('/static/compliance-bg.svg');
    background-repeat: no-repeat;
    margin: 0% 2%;
    text-align: center;
}
#comp{
    font-size: 2.2rem;
    width: 50%;
    margin-left: 20%;
    padding: 4%;
}
.compliance-image{
    width: 45%;
    display: inline-block;
    margin-bottom: 7%;
}
.features-container{
    width: 45%;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
}
.first-module{
    display: block;
}
.first-module.show{
    display: none;
}
.second-module{
    display: none;
}
.second-module.show{
    display: block;
}