*{
    font-family: 'Lexend', sans-serif;
}
.compliance-section{
    color: white;
    background-image: url('/compliance-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0% 0%;
    text-align: center;
    padding-top: 4%;
    margin-top: 10%;
}
#comp{
    font-size: 2.2rem;
    width: 50%;
    margin-left: 20%;
    padding: 4%;
}
.compliance-image{
    width: 45%;
    display: inline-block;
    margin-bottom: 7%;
}
.compliance-image img{
    width: 70%;
}
.features-container{
    width: 45%;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
}
.first-module{
    display: block !important;
}
.first-module.show{
    display: none !important;
}
.second-module{
    display: none !important;
}
.second-module.show{
    display: block !important;
}
.button-container{
    border: 1px solid rgba(231, 234, 236, 0.3);
    border-radius: 5px;
    margin: 0 41%;
    width: 17%;
    background-color: rgba(231, 234, 236, 0.3); 
    color: white;
}
.button-1-comp{
    color: white;
    border: none;
    width: 40%;
    display: inline-block;
    font-size: 0.8rem;
    cursor: pointer;
}
.button-1-comp.show{
    background-color: #f33;
    padding: 3.5% 2%;
    margin: 1.5% 0%;
    border: 1px solid #f33 ;
    border-radius: 5px;
}
.button-2-comp{
    color: white;
    width: 40%;
    display: inline-block;
    font-size: 0.8rem;
    cursor: pointer;
}
.button-2-comp.show{
    background-color: rgba(5, 169, 135, 1);
    padding: 3.5% 2%;
    margin: 1.5% 0%;
    border: 1px solid rgba(5, 169, 135, 1) ;
    border-radius: 5px;
}
.mobile{
    display: none;
}

@media (min-width:726px) and (max-width:1050px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .compliance-section{
        // background-image: linear-gradient(rgba(17, 45, 68, 1),rgba(37, 71, 99, 1)); 
        background-image: url('/compliance-bg-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin: 10% 0% 0% 0%;
    }
    .compliance-image{
        width: 100%;
        display: block;
    }
    .features-container{
        width: 100%;
        display: block;
    }
}

@media screen and (max-width:725px){
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .compliance-section{
        // background-image: linear-gradient(rgba(17, 45, 68, 1),rgba(37, 71, 99, 1));
        background-image: url('/compliance-bg-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; 
        margin: 10% 0 0 0;
        // width: 90%;
    }
    .compliance-image{
        width: 100%;
        display: block;
    }
    .features-container{
        width: 100%;
        display: block;
        text-align: left;
        margin-bottom: 5%;
        padding-bottom: 5%;
    }
    .button-container{
        width: 70%;
        margin: 0 15% 0 15%;
        font-size: 0.5rem;
    }
    .button-1-comp{
        width: 40%;
        display: inline-block !important;
    }
    .button-2-comp{
        width: 40%;
        display: inline-block !important;
    }
    #comp{
        margin-bottom: 8%;
        width: 90%;
        margin-left: 2.5%;
    }
}


@media (min-width:1500px) and (max-width:1899px) {
    .compliance-image img{
        width: 60%;
    }
}

@media (min-width:1900px) and (max-width:2000px){
    .compliance-image img{
        width: 50%;
    }
}

@media (min-width:2001px) {
    .compliance-image img{
        width: 50%;
    }
}