.small-f-container{
    text-align: left;
    width: 45%;
    display: inline-block;
    // display: flex;
}
.small-f-container>p{
    // padding-bottom: 10% ;
    display: inline-block;
    padding: 1%;
    // padding-bottom: 10%;
}
.small-f-container-2{
    display: flex;
}
.container-pic{
    // width: 8%;
    margin-top: 1%;
    margin-right: 3%;
    display:inline-block;
}

@media screen and (max-width:725px){
    // .comp-line-img{
    //     display: none;
    // }
    .small-f-container{
        display: block;
        margin: 0 30%;
    }

}