.small-f-container{
    text-align: left;
    width: 45%;
    display: inline-block;
    // display: flex;
}
.small-f-container>p{
    // padding-bottom: 10% ;
    display: inline-block;
    padding: 1%;
    // padding-bottom: 10%;
}
.small-f-container-2{
    display: flex;
}
.container-pic{
    // height: 100%;
    margin-top: 1%;
    margin-right: 3%;
    display:inline-block;
}

@media (min-width:351px) and (max-width:570px){
    .comp-line-img{
        display: none;
    }
    .small-f-container{
        display: block;
        width: 60% ;
        margin: 0 auto;
        // margin: 0 30% 0 22%;
        font-size: 1.2rem;
    }
}

@media (min-width:571px) and (max-width:725px){
    .comp-line-img{
        display: none;
    }
    .small-f-container{
        display: block;
        width: 45% ;
        margin: 0 auto;
        // margin: 0 30% 0 22%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width:350px){
    .small-f-container{
        display: block;
        width: 90%;
        margin: 0 auto;
        font-size: 1.2rem;
    }
}