* {
    font-family: 'Lexend', sans-serif;
  }
  .parent--layout{
    max-width: 1440px;
    width: 100%; 
    margin: 0 auto;
    .first--child--layout{
      background-image: url('/first-child-layout.svg'); 
      background-size: cover;  
      background-position: center; 
      background-repeat: no-repeat; 
      max-width: 1440px;
      width: 100%;
      height: auto; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .second--child--layout {
        background-image: url('/second-child-layout.svg'); 
        background-size: cover;  
        background-position: center; 
        background-repeat: no-repeat; 
        max-width: 1440px;
        width: 100%;
        height: auto; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }  