.hero--container {
    width: 100%;
    max-width: 1260px;
    height: auto;
    background: linear-gradient(71.97deg, #0f1825 -21.43%, #243958 108.45%);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 10px;
    animation-duration: 1.5s;
    .hero--container--left {
        height: auto;
        width: -moz-fit-content;
        width: fit-content;
        max-width: 700px;
        padding-top: 10px;
        padding-bottom: 25px;
        .content--box {
            margin-top: 30px;
            .heading {
                font-size: 48px;
                font-weight: 500;
                color: #ffffff;
                line-height: 22px;
                p {
                    margin-top: -15px;
                }
            }

            .content {
                margin-top: -10px;
                p {
                    color: #EAEAEA;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 15px;
                    margin-top: -10px;
                }
            }
        }

        .button-box {
            display: flex;
            gap: 20px;
            margin-top: 50px;

            .get--started {
                background-color: #05A987;
                color: #ffffff;
                border: 2px solid #05A987;
                border-radius: 6px;
                padding: 10px 10px;
                font-size: 16px;
                width: 147px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: rgb(6, 134, 108);
                    border: 2px solid rgb(6, 134, 108);

                  }
            }
            .learn-more {
                background-color: transparent;
                border: 2px solid #ffffff;
                color: #ffffff;
                border-radius: 6px;
                padding: 10px 10px;
                font-size: 16px;
                width: 147px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                img {
                    margin-left: 8px;
                    vertical-align: middle;
                }
                &:hover {
                    color: #d3d3d3;
                    border: 2px solid #d3d3d3;
                  }
            }
        }
    }
    .hero--container--right {
        img {
            width: 100%; 
            height: auto;
            max-width: 100%;
            display: block; 
        }
    }
    
}


@media screen and (max-width:1180px) {
    .hero--container{
        flex-direction:column-reverse;
    .hero--container--left {
        .content--box {
            margin-top: 10px;
            .heading {
                p {
                    text-align: center;
                }
            }

            .content {
                margin-top: 0px;
                p {
                    text-align: center;
                }
            }
        }
        .button-box {
            align-items: center;
            justify-content: center;
        }
    }
    }
}

@media screen and (max-width:600px) {
    .hero--container{
    .hero--container--left {
        .content--box {
            .heading {
                p {
                    font-size: 30px;
                }
            }

            .content {
                p {
                    font-size: 15px;
                }
            }
        }
    }
    }
}

@media screen and (max-width:393px) {
    .hero--container{
    .hero--container--left {
        .content--box {
            .heading {
                p {
                    font-size: 24px;
                }
            }

            .content {
                p {
                    font-size: 12px;
                }
            }
        }
    }
    }
}