.control {
    margin: 2% auto;
}

@media only screen and (max-width: 600px) {
    .big-screen {
        display: none !important;
    }
    .small-screen {
        display: block !important;
    }
}
.big-screen {
    display: block;
    // max-width: 1440px;
}
.small-screen {
    display: none;
}
.image-responsive img{
    width: 99.9%;
}