.current--limitation {
    height: auto;
    width: 100%;
    max-width: 1260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    .limitation--heading p {
        text-align: center;
        font-size: 42px;
        font-weight: 500;
        width: 100%;
        letter-spacing: 2px;
    }

    .limitation--card--container {
        display: flex;
        flex-flow: row wrap;
        gap: 12px;
        justify-content: center;
        max-width: 1260px;
        width: 100%;
        margin-top: 55px;
    }
}

@media screen and (max-width: 768px) {
    .current--limitation {
        margin-top: 40px;

        .limitation--heading p {
            font-size: 30px;
        }

        .limitation--card--container {
            margin-top: 20px;
            gap: 15px;
        }
    }
}

@media screen and (max-width: 480px) {
    .current--limitation {
        margin-top: 60px !important;
        .limitation--card--container {
            margin-top: 20px !important;
            gap: 20px !important;
        }
    }
}
